// variables de css
$font-family: Helvetica, sans-serif;
$primary-color: #333;
$btn-padding: 4px;
$btn-text-color: #000;
$btn-bg-color: #ccc;
$btn-radius: 6px;
$card-with-color: false;
$color-color-default: #333;

body { font: 100% $font-family;
     color: $primary-color;
    }
.btn {
      color: $btn-text-color;
      background-color: $btn-bg-color;
      padding: $btn-padding;
      border-radius: $btn-radius;}
.card {
    @if $circle {
        color: $btn-text-color;
    } @else {
        color: $color-color-default;
    }

        background-color: $btn-text-color;
        background: $btn-text-color;
    }
